
<body>
    <div class="update-profile">
        <form method="post" enctype="multipart/form-data">
            <img src="/assets/defaul.jpg">
            
            <div class="flex">
                <div class=" inputBox">
                    <div style="margin-bottom: 20px;">
                    <span id="NombreSpan">Reservas de cancha </span>
                    </div>
                    <div class="card " *ngFor="let item of objListaReservasCancha; let i = index">
                        <p>Fecha: {{ item.fecha }}</p>
                        <p>Hora Inicio: {{ item.horaInicio }}</p>
                        
                    </div>
                    <div style="margin-bottom: 20px;">
                        <span id="NombreSpan">Reservas de Piscina </span>
                        </div>
                        <div class="card " *ngFor="let item of objListaReservasPiscina; let i = index">
                            <p>Fecha: {{ item.fechaReserva }}</p>
                            <p>Ticket: {{item.nroTicketPiscina}}</p>
                            <p>Cantidad : {{item.cantidadTickets}}</p>
                            <p>Hora Inicio: {{ item.nombrePiscina }}</p>
                            
                        </div>
                    <button  class="volver" (click)="volver()">Volver</button>
                    
                </div>
                
            </div>
            

        </form>

    </div>
</body>

