
.center {
    margin-top: 115px;
    text-align: center;
}
.card {
    width: 450px;
    height: 300px;
    margin: 10px;
    padding: 10px;
    display: inline-block;
    cursor: pointer;
    border: 3px solid #000; /* Grosor del borde de 2 píxeles y color negro (#000) */
    border-radius: 10px; /* Redondear las esquinas en 10 píxeles */
    background-color: green;

}
.card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%; /* Asegura que ocupa toda la altura de la tarjeta */
}
.card.ocupada {
    background-color: rgb(231, 79, 79);
}
.card.seleccionada {
    background-color: orange;
    color: black;
}

.guardar {
    width: 30%;
    border-radius: 5px;
    padding: 10px 30px;
    background-color: #000000;
    color: white;
    display: block;
    margin: 0 auto; /* Esto centra horizontalmente el elemento */
    text-align: center;
    cursor: pointer;
    font-size: 20px;
    margin-top: 50px;
}

.update-profile {
    min-height: 95vh;
    background-color: var(--light-bg);
    
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-image: url('src/assets/salones2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
 
 }

 
 .card.mantenimiento {
    background-color: yellow;
    color:black;
}

.salon-container {
    display: inline-block;
    cursor: pointer;
  }

  .estado-select {
    margin-top: 10px; /* Puedes ajustar la cantidad de margen según sea necesario */
    width: 30%; /* O ajusta el ancho según tus preferencias */
  }